.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5vh;
  section {
    flex: 1;
    justify-content: center;
    text-align: center;
    padding-top: 5vh;
    span {
      color: $color-pink-main;
    }
  }
  &__social{
    padding-bottom: 5vh;
  }
}