.portfolio{
  display: flexbox;
  flex-direction: column;
  flex: 3;
  justify-content: space-around;
  padding-top: 10vh;
  &__icons{
    text-align: center;
    padding-bottom: 10vh;
  }
  &__category{
    display: flex;
    flex: 1;
    justify-content: center;
    padding-bottom: 10vh;
  }
  &__items{
    background-color: red;
    &[type=cuadro]{
      background-color: cyan;
    }
    &[type=list]{
      background-color: fuchsia;
    }
  }
}