$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Questrial', sans-serif;
$text-color-main: #707070;
$text-color-secondary: #c3d0d8;
$color-pink-secondary : #fc758c;
$color-pink-main: #ff5672;
$color-pink-contrast: #fff;
$color-gray-main: #707070;
$color-gray-secondary: #c2cfd7;
$view-phone: only screen and (min-width:320px) and (max-width:860px);
$view-portatil:  only screen and (min-width:860px);